---
import { Font } from "astro:assets";

import Nav from "../components/Nav.astro";
import "../styles/main.css";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : "LeedStone Lanscapes"}</title>
    <Font cssVariable="--font-dm" />
  </head>
  <body class="">
    <slot />
  </body>
</html>
<style>
  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
</style>
